


.service__top-content{
    text-align: center;
    margin-bottom: 40px;
}

.service__item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.services_item{
    background: var(--card-bg);
    width: 25rem;
    padding: 35px;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    cursor: pointer;
   
}

.service__icon{
    width: 60px;
    height: 60px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: var(--icon-bg);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
}

.service__icon i{
    font-size: 2rem;
    color: var(--primary-color);
}

.services__title{
    color: var(--primary-color);
}